services:
  home-assistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:2026.2.1
    restart: always
    depends_on:
      - mosquitto
    ports:
      - 8123:8123
      - 1400:1400
    volumes:
      - /opt/docker/home-assistant/config:/config
      - /opt/docker/home-assistant/media:/media
      - /etc/localtime:/etc/localtime:ro
      # Necessary for bluetooth
      - /run/dbus:/run/dbus:ro
    cap_add:
      # Necessary for bluetooth
      - NET_ADMIN
      - NET_RAW

  music-assistant:
    container_name: music-assistant
    image: ghcr.io/music-assistant/server:2.7.7
    restart: unless-stopped
    # Network mode must be set to host for MA to work correctly
    network_mode: host
    volumes:
      - /opt/docker/music-assistant/data:/data/

  esphome:
    container_name: esphome
    image: esphome/esphome:2026.1.4
    restart: always
    privileged: true
    network_mode: host
    depends_on:
      - home-assistant
    volumes:
      - /opt/docker/esphome/config:/config
      - /etc/localtime:/etc/localtime:ro

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.8.0
    restart: always
    depends_on:
      - mosquitto
    ports:
      - "8099:8099/tcp"
    environment:
      - TZ=Europe/Berlin
    volumes:
      - /opt/docker/zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_865a146755afed119e873b4e71c9e8b5-if00-port0:/dev/ttyACM0

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto
    restart: always
    ports:
      - 1883:1883
      - 1884:1884
    volumes:
      - /opt/docker/mosquitto/config:/mosquitto/config
      - /opt/docker/mosquitto/data:/mosquitto/data
      - /opt/docker/mosquitto/log:/mosquitto/log

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    env_file:
      - /opt/docker/postgres/credentials.env

  piper:
    container_name: piper
    image: rhasspy/wyoming-piper
    command: --voice de_DE-thorsten-high
    volumes:
      - /opt/docker/piper/data:/data
    restart: unless-stopped
    ports:
      - 10200:10200
