# Home Assistant integration (MQTT discovery)
homeassistant: true

# Allow new devices to join
permit_join: false # Do not allow random devices to connect automatically

# MQTT settings
mqtt:
  # MQTT base topic for zigbee2mqtt MQTT messages
  base_topic: zigbee2mqtt
  # MQTT server URL
  server: 'mqtt://192.168.10.42'
  # MQTT server authentication, uncomment if required:
  # user: my_user
  # password: my_password

# Webserver
frontend:
  enabled: true
  # Custom port
  port: 8099
  url: 'http://192.168.10.42'

# Devices and groups config in separated files
devices: devices.yaml
groups: groups.yaml

# Serial settings
serial:
  adapter: zstack
  # Location of CC2531 USB sniffer
  port: /dev/ttyACM0

advanced:
  # Zigbee network - auto-generate new keys
  pan_id: GENERATE
  network_key: GENERATE
  # Zigbee network - set channel to avoid interference with 2.4GHz WiFi
  channel: 24
  # Add a timestamp to the messages to track when a device was last seen
  last_seen: ISO_8601_local
  # Log directory
  log_directory: data/log

device_options:
  homeassistant:
    last_seen:
      enabled_by_default: true

# Device availability
availability:
  enabled: true
  # Time after which an active device will be marked as offline in minutes (default = 10 minutes)
  active:
    timeout: 30
  # Time after which a passive device will be marked as offline in minutes (default = 1500 minutes aka 25 hours)
  passive:
    timeout: 1500

version: 4
